{% extends 'base.html.twig' %}

{% block title %}
	C.G | Mon Compte
{% endblock %}

{% block body %}
	{% include 'page_head/page_head.html.twig' with {
    page_name: 'Mon Compte'
  } %}
	{# <!-- START MAIN CONTENT --> #}
	<div
		class="main_content">
		{# <!-- START SECTION SHOP --> #}
		<div class="section">
			<div class="container">
				<div
					class="row">
					{# Menu Dashboard #}
					<div class="col-lg-3 col-md-4">
						<div class="dashboard_menu">
							<ul class="nav nav-tabs flex-column" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false">
										<i class="ti-layout-grid2"></i>Tableau de bord
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false">
										<i class="ti-shopping-cart-full"></i>Commande
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true">
										<i class="ti-location-pin"></i>Mes addresses
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true">
										<i class="ti-id-badge"></i>Détails du compte
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="logout-tab" href="#logout" data-bs-toggle="tab" role="tab" aria-controls="logout" aria-selected="true">
										<i class="ti-lock"></i>Se déconnecter
									</a>
								</li>
							</ul>

						</div>
					</div>
					{# Fin Menu Dashboard #}

					{# Dashboard #}
					<div class="col-lg-9 col-md-8">
						<div class="tab-content dashboard_content">
							<div class="tab-pane fade" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
								<div class="card">
									<div class="card-header">
										<h3>Tableau de bord</h3>
									</div>

									<div class="card-body">
										<p>Depuis le tableau de bord de votre compte. Vous pouvez facilement vérifier &amp; voir votre
											<a href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">
												Dernières commandes
											</a>, gère ton
											<a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')">
												adresses d'expédition et de facturation
											</a>
											et
											<a href="javascript:void(0);" onclick="$('#account-detail-tab').trigger('click')">
												modifiez votre mot de passe et les détails de votre compte.
											</a>
										</p>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="logout" role="tabpanel" aria-labelledby="logout-tab">
								<div class="card">
									<div class="card-header">
										<a href="{{ path('app_logout') }}">
											<h3>
												Se déconnecter
											</h3>
										</a>
									</div>
									<div class="card-body">
										<p>Depuis le tableau de bord de votre compte. Vous pouvez facilement vérifier &amp; voir votre
											<a href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">
												Dernières commandes
											</a>, gère ton
											<a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')">
												adresses d'expédition et de facturation
											</a>
											et
											<a href="javascript:void(0);" onclick="$('#account-detail-tab').trigger('click')">
												modifiez votre mot de passe et les détails de votre compte.
											</a>
										</p>
										<a href="{{ path('app_logout') }}">
											<button type="submit" class="btn btn-fill-out py-2" name="submit" value="Submit">
												Se déconnecter
											</button>
										</a>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
								<div class="card">
									<div class="card-header">
										<h3>
											Vous commandes
										</h3>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th>Order</th>
														<th>Date</th>
														<th>Status</th>
														<th>Total</th>
														<th>Actions</th>
													</tr>
												</thead>

												<tbody>
													{# {% for order in orders %} #}
													<tr>
													{# <td>#{{order.id}}</td>
													<td>{{order.createdA }}</td>
													<td>{{order.status}}</td>
													<td>{{order.total }}</td> #}

														<td>
															<a href="/orders" class="btn btn-fill-out btn-sm">View</a>
														</td>
													</tr>
													{# {% endfor %} #}

													<tr>
														<td>#2366</td>
														<td>June 20, 2020</td>
														<td>Completed</td>
														<td>$81.00 for 1 item</td>
														<td>
															<a href="#" class="btn btn-fill-out btn-sm">
																View
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							{# Formulaire Addresses #}
							<div class="tab-pane fade active show" id="address" role="tabpanel" aria-labelledby="address-tab">
								<div class="row">
									<div class="action d-flex mb-1">
										<a href="#" id="add_new_address" class="btn btn-fill-out">
											Ajouter une nouvelle adrresse
											{# Add New #}
										</a>
									</div>
									{# Formulaire #}
									<div class="col-lg-12 d-none" id="add_form">
										<form action="">
											<div class="row">
												<div class="form-goup col-md-12 mb-3">
													<label>Type d'Adresses<span class="required">*</span>
													</label>
													<select name="address_type" id="" class="form-control">
														<option value="Facturation">Facturation</option>
														<option value="Expedition">Expédition</option>
													</select>
												</div>

												<div class="form-goup col-md-12 mb-3">
													<label>Nom<span class="required">*</span>
													</label>
													<input required="" class="form-control" name="name" type="text"></input>
											</div>

											<div class="form-goup col-md-12 mb-3">
												<label>Nom et prénom<span class="required">*</span>
												</label>
												<input required="" class="form-control" name="client_name" type="text"></input>
										</div>

										<div class="form-goup col-md-6 mb-3">
											<label>Rue<span class="required">*</span>
											</label>
											<input required="" class="form-control" name="street" type="text"></input>
									</div>

									<div class="form-goup col-md-6 mb-3">
										<label>Ville<span class="required">*</span>
										</label>
										<input required="" class="form-control" name="city" type="text"></input>
								</div>

								<div class="form-goup col-md-6 mb-3">
									<label>Code Postal<span class="required">*</span>
									</label>
									<input required="" class="form-control" name="code_postal" type="text"></input>
							</div>

							<div class="form-group col-md-6 mb-3">
								<label>Pays<span class="required">*</span>
								</label>
								<select class="form-control" name="state" id="state"></select>
							</div>

							<div class="d-flex mb-3">
								<button class="btn btn-fill-out">
									Sauvegarder
								</button>
							</div>
						</div>
					</form>
				</div>
				{# Fin Addressee #}

				{# Addresse Details #}
				<div class="col-lg-12 d-block" id="address_details">
					<div class="card">
						<div class="card-header">
							<h3>Addresse</h3>
						</div>
						<div class="card-body">
							<div class="table-responsive address_content">
								<table class="table">
									<thead>
										<tr>
											<th>Id</th>
											<th>Address</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for address in addresses %}
											<tr>
												<td>#{{ address.id }}</td>
												<td>{{ address.street }}
													{{ address.city }}
													{{ address.codePostal }}
													{{ address.state }}</td>
												<td>
													<a href="#" data-id="{{address.id}}" data-addrees_type="{{address.addressType}}" data-client_name="{{address.clientName}}" data-name="{{address.name}}" data-street="{{address.street}}" data-city="{{address.city}}" data-code_postal="{{address.codePostal}}" data-state="{{address.state}}" class="btn btn-fill-out btn-sm edit_address">Editer</a>

													<a href="#" data-id="{{address.id}}" class="btn btn-fill-out btn-sm remove_address">Supprimer</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				{# Fin Addresse Details #}

				{# Fin Addressee et Form #}
				{# Account details #}
					<div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab"> <div class="card">
						<div class="card-header">
							<h3>Détails du compte</h3>
						</div>
						<div class="card-body">
							<p>Vous avez déjà un compte?
								<a href="#">Connectez-vous plutôt !</a>
							</p>
							<form method="post" name="enq">
								<div class="row">
									<div class="form-group col-md-6 mb-3">
										<label>Prénom<span class="required">*</span>
										</label>
										<input required="" class="form-control" name="name" type="text"/>
									</div>
									<div class="form-group col-md-6 mb-3">
										<label>Nom<span class="required">*</span>
										</label>
										<input required="" class="form-control" name="phone"/>
									</div>
									<div class="form-group col-md-12 mb-3">
										<label>Afficher le nom<span class="required">*</span>
										</label>
										<input required="" class="form-control" name="dname" type="text"/>
									</div>
									<div class="form-group col-md-12 mb-3">
										<label>Addresse email<span class="required">*</span>
										</label>
										<input required="" class="form-control" name="email" type="email"/>
									</div>
									<div class="form-group col-md-12 mb-3">
										<label>Mot de passe actuel<span class="required">*</span>
										</label>
										<input required="" class="form-control" name="password" type="password"/>
									</div>
									<div class="form-group col-md-12 mb-3">
										<label>Nouveau mot de passe<span class="required">*</span>
										</label>
										<input required="" class="form-control" name="npassword" type="password"/>
									</div>
									<div class="form-group col-md-12 mb-3">
										<label>Confirmez le mot de passe<span class="required">*</span>
										</label>
										<input required="" class="form-control" name="cpassword" type="password"/>
									</div>

									<div class="col-md-12">
										<button type="submit" class="btn btn-fill-out" name="submit" value="Submit">
											Sauvegarder
										</button>
									</div>

								</div>
							</form>
						</div>
					</div>
				</div>
				{# Fin Account details #}
			</div>
		</div>
	</div>
	{# Fin  Dashboard #}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}

<script>

const addform = document.getElementById("add_form")
const form = document.querySelector("#add_form form")
const addAddressButton = document.getElementById("add_new_address")
const addressDetails = document.getElementById("address_details")
const editAddress = document.querySelectorAll(".edit_address")

let isUpdating = false
let currentAddress

// Fonction qui permet l'affichage de l'addresses
const displayAddress = (addresses) => {

isUpdating = false
currentAddress = undefined

const tbody = document.querySelector(".address_content tbody")
if (tbody) { 
// On vider son contenu
tbody.innerHTML = ""
// On boucle sur les donner reçu de (d'address)
addresses.forEach(address => { // et pour chaque addresse on ajoute un tbody d'addresse
tbody.innerHTML += `<tr>
						<td>#${address.id}</td>
						<td>${address.street}
							${address.city} 
							${address.codePostal}
							${address.state}
						</td>
						<td>
						<a href="#" 
							data-id="${address.id}" 
							data-addrees_type="${address.address_type}"
							data-name="${address.name}"
							data-client_name="${address.client_name}"
							data-street="${address.street}" 
							data-city="${address.city}$" 
							data-code_postal="${address.code_postal}" 
							data-state="${address.state}" 
							class="btn btn-fill-out btn-sm edit_address">Editer</a>
						<a href="#" data-id="${address.id}" 
							class="btn btn-fill-out btn-sm remove_address">Supprimer
						</a>
						</td>
					</tr>`

});
	addform.classList.add("d-none")
	addressDetails.classList.remove("d-none")
	addEvent()

	}

	}
	// On affiche les code et drapeu de pays
	const initState = async () => {
	const select = document.querySelector("#add_form form select#state")
		select.innerHTML = ""
	const response = await fetch("/assets/data/countries.json")
	const countries = await response.json();
		countries.forEach((countrie) => {
			select.innerHTML += `<option value="${countrie.alpha2Code}">${countrie.name} </option>`
})

}

// On ajute un evenement sur les addresse
const addEvent = (address) => {

const addAddressButton = document.getElementById("add_new_address")
const addform = document.getElementById("add_form")
const addressDetails = document.getElementById("address_details")
const remove_address_btns = document.querySelectorAll(".remove_address")
const editAddress = document.querySelectorAll(".edit_address")

remove_address_btns.forEach(remove_address_btn => {

remove_address_btn.addEventListener("click", async (event) => {

event.preventDefault()
const element = event.target
const id = element.dataset.id
if (id) {

const response = await fetch("/api/address/" + id, {method: "DELETE"})
const result = await response.json()
console.log(result);
if (! result.isSuccess) {

const addresses = result.data
displayAddress(addresses)

}

}



})

})
addform.addEventListener("submit", async (event) => {

event.preventDefault()
console.log("-----SUBMIT-");

const form = document.querySelector("#add_form form")
const formData = new FormData(form)

if (isUpdating) { // update data = (mise a jour d'address)
var object = {};
formData.forEach((value, key) => object[key] = value);
var json = JSON.stringify(object);

// Mise a jour d'addrese
const response = await fetch("/api/address/" + currentAddress.id, {

method: "PUT",
body: json

})

const result = await response.json()
if (! result.isSuccess) {

const addresses = result.data
displayAddress(addresses)

}

} else { // create une novelle addresse
const response = await fetch('/api/address', {

method: "POST",
body: formData

})
const result = await response.json()
if (! result.isSuccess) { // Si tout est ok on affiche le resulta de l'addresses
const addresses = result.data
displayAddress(addresses)

}

}

})
editAddress.forEach(item => item.addEventListener("click", updateAddress))

}

// On met a jour l'addesse
const updateAddress = (event) => {



event.preventDefault()
isUpdating = true
currentAddress = Object.assign({}, event.target.dataset)
addAddressButton.click()

document.getElementsByName("name")[0].value = currentAddress.name
document.getElementsByName("client_name")[0].value = currentAddress.client_name
document.getElementsByName("address_type")[0].value = currentAddress.address_type
document.getElementsByName("street")[0].value = currentAddress.street
document.getElementsByName("city")[0].value = currentAddress.city
document.getElementsByName("code_postal")[0].value = currentAddress.code_postal
document.getElementsByName("state")[0].value = currentAddress.state

form.querySelector("button").innerHTML = "Update"
console.log(currentAddress);

}

// Ajouter une novelle addresse
addAddressButton.addEventListener("click", (event) => {

event.preventDefault()
// On cherche a sovoir si le form est cacher
if (addform.classList.contains("d-none")) { // On retire le d-none pour l'afficher le form
addform.classList.remove("d-none")
// Quand on veu le caher on ajoute add d-none
addressDetails.classList.add("d-none")
// On ajoute le button CANCEL pour revenire en arrier
addAddressButton.innerHTML = "Cancel"

form.querySelector("button").innerHTML = "Ajouter une nouvelle Addresses"
// On initalaise le formulaire on le vide
form.reset()

} else {

addAddressButton.innerHTML = "Add New"
// Ajouter d-none a notre form
addform.classList.add("d-none")
// Et retirere de detaille le d-none
addressDetails.classList.remove("d-none")

}

})
editAddress.forEach(item => item.addEventListener("click", updateAddress))

addEvent()
initState()</script>{% endblock %}
