<footer class="footer_dark">
{# Variable intermédiaire pour éviter les erreurs si setting n'est pas en session #}
    {% set setting = app.session.get("setting") %}
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="footer_logo">
                            <a href="#">
                                <h2>  
                                    {# Logo du site #}
                                    {# {{ app.session.get("setting").websiteName }} #}
                                    {{ setting ? setting.websiteName : 'C.G' }}
                                </h2>
                            </a>
                        </div>
                        <p> 
                            {# Dans la session on retrouve tous les accessoires et habits pour femmes, jeunes filles etc...  #}
                            {# {{ app.session.get("setting").description }} #}
                              {{ setting ? setting.description : '' }}
                        </p>
                    </div>
                    <div class="widget">
                        <ul class="social_icons social_white">
                            <li>
                                <a target="_blank" href="
                                {# {{ app.session.get("setting").facebookLink }} #}
                                {{ setting ? setting.facebookLink : '#' }}
                                ">
                                    <i class="ion-social-facebook"></i>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                            <li>
                                <a target="_blank" href="
                                {# {{ app.session.get("setting").youtubeLink }} #}
                                {{ setting ? setting.youtubeLink : '#' }}
                                ">
                                    <i class="ion-social-youtube-outline"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="
                                {# {{ app.session.get("setting").instagramLink }} #}
                                {{ setting ? setting.instagramLink : '#' }}
                                ">
                                    <i class="ion-social-instagram-outline"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="widget_title">Liens utiles</h6>
                        <ul class="widget_links">
                            {# Je récupere les pages que j'ai stocker  dans la session #}
                            {% for page in app.session.get("footerPages") %}
                            <li>
                                <a href="/page/{{ page.slug }}">{{ page.title }}</a>
                            </li>
                            {% endfor %}
                            {# <li><a href="/page/a-propos-de-nous-shop">A Propos de nous</a></li>
                            <li><a href="/page/nos-services-jstore">Nos services</a></li>
                            <li><a href="/page/contactez-nous-category">Contactez-Nous</a></li>
                            <li><a href="/page/nos-partenaires-mudey">Nos partenaires</a></li>
                            <li><a href="/page/mentions-lgales-espero">Mentions légales</a></li> #}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="widget_title">Catégorie</h6>
                        <ul class="widget_links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Femme</a></li>
                            <li><a href="#">Enfants</a></li>
                            <li><a href="#">Meilleur vendeur</a>
                            </li>
                            <li><a href="#">Nouveautés</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget">
                        <h6 class="widget_title">Mon compte</h6>
                        <ul class="widget_links">
                            <li><a href="/account">Mon compte</a></li>
                            <li><a href="/terms">Termes</a></li>
                            <li><a href="/signin">Se connecter</a></li>
                            <li><a href="/signup">S'inscrire</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="widget">
                        <h6 class="widget_title">Contact Info</h6>
                        <ul class="contact_info contact_info_light">
                            <li>
                                <i class="ti-location-pin"></i>
                                <p>
                                {# 21 Ave de la gare 34140 Mèze  #}
                                    {# {{ app.session.get("setting").street }}
                                    {{ app.session.get("setting").codePostal }}
                                    {{ app.session.get("setting").city }} #}
                                    {{ setting ? setting.street : '' }}
                                    {{ setting ? setting.codePostal : '' }}
                                    {{ setting ? setting.city : '' }}
                                </p>
                            </li>
                            <li>
                                <i class="ti-email"></i>
                                    {# ✅ Correction #}
                                    <a href="mailto:{{ setting ? setting.email : '' }}
                                    {# {{ app.session.get("setting").email }} #}
                                    ">
                                        {# {{ app.session.get("setting").email }} #}
                                         {{ setting ? setting.email : '' }}
                                    </a>
                            </li>
                            <li>
                                <i class="ti-mobile"></i>
                                <p> 
                                    {# Logo du site #}
                                    {# {{ app.session.get("setting").phone }} #}
                                    {{ setting ? setting.phone : '' }}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_footer border-top-tran">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-md-0 text-center text-md-start"> © 2026 All Rights Reserved by C.G </p>
                </div>
                <div class="col-md-6">
                    <ul class="footer_payment text-center text-lg-end d-flex gap-2 justify-content-end">
                        <li>
                            <a href="#">
                                <img src="assets/images/visa.png" alt="visa">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/discover.png" alt="discover">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/master_card.png" alt="master_card">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/paypal.png" alt="paypal">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/amarican_express.png" alt="amarican_express">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>