{% extends 'base.html.twig' %}

{% block title %}C.G  | Page d'accueil {% endblock %}

{% block body %}
<div class="main_content">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <div class="product-image">
                        <div class="product_img_box">
                            <img id="product_img" alt="product_img1" src="/assets/images/products/{{ product.imageUrls[0] }}"
                                data-zoom-image="/assets/images/products/{{ product.imageUrls[0] }}">
                                
                                <a title="Zoom" class="product_img_zoom">
                                    <span class="linearicons-zoom-in"></span>
                                </a>
                        </div>
                        <div id="pr_item_gallery" data-slides-to-show="4" data-slides-to-scroll="1" data-infinite="false"
                            class="product_gallery_item slick_slider slick-initialized slick-slider">
                            <div aria-live="polite" class="slick-list draggable">
                                
                                <div class="slick-track" role="listbox" style="opacity: 1; width: 556px; left: 0px;">
                                    {% for imageUrl in product.imageUrls %}                                    
                                        <div class="item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" 
                                            tabindex="-1" role="option" aria-describedby="slick-slide20" style="width: 129px;">
                                                
                                                <a href="#" class="product_gallery_item active" data-image="/assets/images/products/{{ imageUrl }}"
                                                    data-zoom-image="/assets/images/products/{{ imageUrl }}" tabindex="0">

                                                    <img alt="product_small_img1" src="/assets/images/products/{{ imageUrl }}">
                                                </a>
                                        </div>
                                    {% endfor %}                                     
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="pr_detail">
                        <div class="product_description">
                            <h4 class="product_title">
                            <a href="#">{{ product.name }}</a></h4>
                            <div class="product_price">
                                <span class="price">{{ (product.soldePrice / 100) |format_currency('EUR') }}</span>
                                    <del>{{ (product.regularPrice / 100) |format_currency('EUR') }}</del>
                                <div class="on_sale">
                                    <span>{{ ((product.regularPrice - product.soldePrice)*100/ product.regularPrice) | number_format(2, '.', ',') }}% Off</span>
                                </div>
                            </div>
                            <div class="rating_wrap">
                                <div class="rating">
                                    <div class="product_rate" style="width: 80%;">
                                    </div>
                                </div>
                                <span class="rating_num">(21)</span>
                            </div>
                            <div class="pr_desc">{{product.description}}
                                {# <p>{{product.description}}</p> #}
                            </div>
                            <div class="product_sort_info">
                                <ul>
                                    <li>
                                        <i class="linearicons-shield-check"></i>
                                           Garantie d'un an de la marque C.G
                                    </li>
                                    <li>
                                        <i class="linearicons-sync"></i> 
                                            Politique de retour sous 30 jours 
                                    </li>
                                    <li>
                                        {# <i class="linearicons-bag-dollar"></i> #}
                                        <i class="linearicons-bag-euro"></i>
                                            Paiement à la livraison indisponible
                                    </li>
                                </ul>
                            </div>

                            {# Géstion de couleur et de taille a faire  #}

                            {# <div class="pr_switch_wrap"><span class="switch_lable">Color</span>
                                <div class="product_color_switch"><span data-color="#87554B" class="active"
                                        style="background-color: rgb(135, 85, 75);"></span><span data-color="#333333"
                                        style="background-color: rgb(51, 51, 51);"></span><span data-color="#DA323F"
                                        style="background-color: rgb(218, 50, 63);"></span></div>
                            </div> #}
                            {# <div class="pr_switch_wrap"><span class="switch_lable">Size</span>
                                <div class="product_size_switch">
                                    <span>xs</span><span>s</span><span>m</span><span>l</span><span>xl</span>
                                </div>
                            </div> #}

                        </div>
                        <hr>
                        <div class="cart_extra">
                            <div class="cart-product-quantity">
                                <div class="quantity">
                                <input type="button" value="-" class="minus">
                                <input type="text" name="quantity" value="1" title="Qty" size="4" class="qty">
                                <input type="button" value="+" class="plus">
                            </div>
                            </div>
                            <div class="cart_btn">
                                <a href="/cart/add/{{product.id}}/1" type="button" class="btn btn-fill-out btn-addtocart">
                                    <i class="icon-basket-loaded"></i>
                                        Ajouter au panier
                                </a>
                                <button type="button" class="btn btn-fill-out">
                                    <i class="icon-basket-loaded"></i>
                                        Payer maintenant </button>
                            </div>
                            <div class="cart_btn">
                                <a href="#" class="add_compare">
                                    <i class="icon-shuffle"></i>
                                </a>
                                <a href="#" class="add_wishlist">
                                    <i class="icon-heart"></i>
                                </a>
                            </div>
                        </div>
                        <hr>
                    
                        <ul class="product-meta">
                            <li>SKU: <a href="#">BE45VGRT</a></li>
                            <li>Category: <a href="#">Culotes </a></li>
                            <li>Tags: <a href="#" rel="tag">Cloth</a>, <a href="#" rel="tag">printed</a></li>
                        </ul>
                        <div class="product_share"><span>Share:</span>
                            <ul class="social_icons">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube-outline"></i></a>
                                </li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="large_divider clearfix"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="tab-style3">
                        <ul role="tablist" class="nav nav-tabs">
                            <li class="nav-item">
                                <a id="Description-tab" data-bs-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true" class="nav-link active">
                                    Description
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info" role="tab" aria-controls="Additional-info" aria-selected="false" class="nav-link">
                                    Additional info
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="Reviews-tab" data-bs-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false" class="nav-link">
                                    Reviews (2)
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content shop_info_tab">
                            <div id="Description" role="tabpanel" aria-labelledby="Description-tab"
                                class="tab-pane fade show active">
                                {{ product.description }}
                                </div>
                            <div id="Additional-info" role="tabpanel" aria-labelledby="Additional-info-tab"
                                class="tab-pane fade">
                                {# {{ product.moreDescription }} #}
                                {{ product.additionalInfos }}
                            </div>
                            {# Avis  #}
                            <div id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab" class="tab-pane fade">
                                {# <div class="comments">
                                    <h5 class="product_tab_title">2 Review For <span>Blue Dress For Woman</span></h5>
                                    <ul class="list_none comment_list mt-4">
                                        <li>
                                            <div class="comment_img"><img src="assets/images/user1.jpg" alt="user1">
                                            </div>
                                            <div class="comment_block">
                                                <div class="rating_wrap">
                                                    <div class="rating">
                                                        <div class="product_rate" style="width: 80%;"></div>
                                                    </div>
                                                </div>
                                                <p class="customer_meta"><span class="review_author">Alea
                                                        Brooks</span><span class="comment-date">March 5, 2018</span></p>
                                                <div class="description">
                                                    <p>Lorem Ipsumin gravida nibh vel
                                                        velit auctor aliquet. Aenean sollicitudin, lorem quis
                                                        bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                                                        nibh id elit. Duis sed odio sit amet nibh vulputate</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="comment_img"><img src="assets/images/user2.jpg" alt="user2">
                                            </div>
                                            <div class="comment_block">
                                                <div class="rating_wrap">
                                                    <div class="rating">
                                                        <div class="product_rate" style="width: 60%;"></div>
                                                    </div>
                                                </div>
                                                <p class="customer_meta"><span class="review_author">Grace
                                                        Wong</span><span class="comment-date">June 17, 2018</span></p>
                                                <div class="description">
                                                    <p>It is a long established fact
                                                        that a reader will be distracted by the readable content of
                                                        a page when looking at its layout. The point of using Lorem
                                                        Ipsum is that it has a more-or-less normal distribution of
                                                        letters</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="review_form field_form">
                                    <h5>Add a review</h5>
                                    <form novalidate="" class="row mt-3 ng-untouched ng-pristine ng-valid">
                                        <div class="form-group col-12 mb-3">
                                            <div class="star_rating"><span data-value="1"><i
                                                        class="far fa-star"></i></span><span data-value="2"><i
                                                        class="far fa-star"></i></span><span data-value="3"><i
                                                        class="far fa-star"></i></span><span data-value="4"><i
                                                        class="far fa-star"></i></span><span data-value="5"><i
                                                        class="far fa-star"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-12 mb-3"><textarea required="required"
                                                placeholder="Your review *" name="message" rows="4"
                                                class="form-control"></textarea></div>
                                        <div class="form-group col-md-6 mb-3"><input required="required"
                                                placeholder="Enter Name *" name="name" type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-6 mb-3"><input required="required"
                                                placeholder="Enter Email *" name="email" type="email"
                                                class="form-control"></div>
                                        <div class="form-group col-12 mb-3"><button type="submit" name="submit"
                                                value="Submit" class="btn btn-fill-out">Submit Review</button></div>
                                    </form>
                                </div> #}


                                {# ══ SECTION AVIS ══ #}
                                <div class="container mt-5 mb-5">

                                    {# Titre avec note moyenne #}
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <h3 style="font-family: 'Roboto'; color: #292b2c; font-weight: 700;">
                                            Avis clients
                                            {% if averageRating > 0 %}
                                                <span style="color: #FF324D; font-size: 18px;">
                                                    ⭐ {{ averageRating }}/5
                                                </span>
                                                <small style="color: #687188; font-size: 14px;">
                                                    ({{ comments|length }} avis)
                                                </small>
                                            {% endif %}
                                        </h3>
                                    </div>

                                    {# Messages flash #}
                                    {% for type, messages in app.flashes %}
                                        {% for message in messages %}
                                            <div class="alert alert-dismissible fade show"
                                                style="border-left: 4px solid #FF324D; background: #fff5f6;
                                                        color: #292b2c; border-radius: 4px;"
                                                role="alert">
                                                {{ message }}
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}

                                    {# Formulaire de commentaire #}
                                    {% if is_granted('ROLE_USER') %}

                                        {% if alreadyCommented %}
                                            <div class="mb-4 p-3"
                                                style="background: #fff5f6; border-left: 4px solid #FF324D;
                                                        border-radius: 4px; color: #687188; font-family: 'Poppins';">
                                                Vous avez déjà laissé un avis sur ce produit.
                                            </div>

                                        {% elseif not canComment %}
                                            <div class="mb-4 p-3"
                                                style="background: #f8f9fa; border-left: 4px solid #687188;
                                                        border-radius: 4px; color: #687188; font-family: 'Poppins';">
                                                Vous devez avoir acheté ce produit pour laisser un avis.
                                            </div>

                                        {% elseif commentForm %}
                                            <div class="card border-0 mb-5"
                                                style="box-shadow: 0 2px 15px rgba(0,0,0,0.08); border-radius: 8px;">
                                                <div class="card-header border-0 py-3"
                                                    style="background: #fff; border-bottom: 2px solid #FF324D !important;
                                                            border-radius: 8px 8px 0 0;">
                                                    <h5 style="font-family: 'Roboto'; color: #292b2c;
                                                            font-weight: 700; margin: 0;">
                                                        Laisser un avis
                                                    </h5>
                                                    <small style="color: #687188; font-family: 'Poppins'; font-size: 13px;">
                                                        Votre avis sera publié après validation de notre équipe.
                                                    </small>
                                                </div>
                                                <div class="card-body p-4">
                                                    {{ form_start(commentForm) }}

                                                        {# Note étoiles #}
                                                        <div class="mb-4">
                                                            {{ form_label(commentForm.rating, null, {
                                                                'label_attr': {
                                                                    'style': 'font-family: Poppins; color: #292b2c;
                                                                            font-weight: 600; margin-bottom: 10px;
                                                                            display: block;'
                                                                }
                                                            }) }}
                                                            <div style="display: flex; flex-direction: column; gap: 6px;">
                                                                {{ form_widget(commentForm.rating) }}
                                                            </div>
                                                            {{ form_errors(commentForm.rating) }}
                                                        </div>

                                                        {# Contenu #}
                                                        <div class="mb-4">
                                                            {{ form_label(commentForm.content, null, {
                                                                'label_attr': {
                                                                    'style': 'font-family: Poppins; color: #292b2c;
                                                                            font-weight: 600; margin-bottom: 10px;
                                                                            display: block;'
                                                                }
                                                            }) }}
                                                            {{ form_widget(commentForm.content, {
                                                                'attr': {
                                                                    'class': 'form-control',
                                                                    'style': 'border: 1px solid #e0e0e0; border-radius: 4px;
                                                                            font-family: Poppins; color: #687188;
                                                                            padding: 12px; resize: none;'
                                                                }
                                                            }) }}
                                                            {{ form_errors(commentForm.content) }}
                                                            <small style="color: #687188; font-family: Poppins; font-size: 12px;">
                                                                Entre 10 et 1000 caractères.
                                                            </small>
                                                        </div>

                                                        {# Bouton submit #}
                                                        {{ form_widget(commentForm.submit, {
                                                            'attr': {
                                                                'style': 'background: #FF324D; border: none;
                                                                        color: white; padding: 12px 30px;
                                                                        border-radius: 4px; font-family: Poppins;
                                                                        font-weight: 600; font-size: 14px;
                                                                        cursor: pointer; transition: all 0.3s;
                                                                        text-transform: uppercase;
                                                                        letter-spacing: 1px;'
                                                            }
                                                        }) }}

                                                    {{ form_end(commentForm) }}
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% else %}
                                        <div class="mb-4 p-3"
                                            style="background: #f8f9fa; border-left: 4px solid #FF324D;
                                                    border-radius: 4px; font-family: 'Poppins';">
                                            <a href="{{ path('app_login') }}"
                                            style="color: #FF324D; font-weight: 600;">
                                                Connectez-vous
                                            </a>
                                            pour laisser un avis sur ce produit.
                                        </div>
                                    {% endif %}

                                    {# Liste des avis publiés #}
                                    {% if comments is empty %}
                                        <p style="color: #687188; font-family: 'Poppins'; font-style: italic;">
                                            Aucun avis pour le moment. Soyez le premier à donner votre avis !
                                        </p>
                                    {% else %}
                                        <div class="row g-4">
                                            {% for comment in comments %}
                                                <div class="col-12">
                                                    <div class="card border-0"
                                                        style="box-shadow: 0 2px 10px rgba(0,0,0,0.06);
                                                                border-radius: 8px;">
                                                        <div class="card-body p-4">

                                                            {# En-tête auteur + date #}
                                                            <div class="d-flex justify-content-between align-items-center mb-3">
                                                                <div>
                                                                    <span style="font-family: 'Roboto'; font-weight: 700;
                                                                                color: #292b2c;">
                                                                        {{ comment.author.fullName ?? comment.email }}
                                                                    </span>
                                                                    <span class="ms-2"
                                                                        style="background: #FF324D; color: white;
                                                                                font-size: 11px; padding: 2px 8px;
                                                                                border-radius: 20px; font-family: Poppins;">
                                                                        Acheteur vérifié
                                                                    </span>
                                                                </div>
                                                                <small style="color: #687188; font-family: 'Poppins';
                                                                            font-size: 13px;">
                                                                    {{ comment.createdAt|date('d/m/Y') }}
                                                                </small>
                                                            </div>

                                                            {# Étoiles #}
                                                            <div class="mb-3">
                                                                {% for i in 1..5 %}
                                                                    {% if i <= comment.rating %}
                                                                        <span style="color: #FF324D; font-size: 18px;">★</span>
                                                                    {% else %}
                                                                        <span style="color: #e0e0e0; font-size: 18px;">★</span>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                <small style="color: #687188; font-family: Poppins;
                                                                            font-size: 13px; margin-left: 6px;">
                                                                    ({{ comment.rating }}/5)
                                                                </small>
                                                            </div>

                                                            {# Contenu de l'avis #}
                                                            <p style="color: #687188; font-family: 'Poppins';
                                                                    line-height: 28px; margin: 0;">
                                                                {{ comment.content }}
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                </div> 
                                {# ══ SECTION AVIS ══ #}


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="small_divider"></div>
                    <div class="divider"></div>
                    <div class="medium_divider"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="heading_s1">
                        <h3>Produits associés</h3>
                    </div>

                    {% if product.relatedProducts is not empty %}
                    <div class="releted_product_slider carousel_slider owl-carousel owl-theme"
                        data-margin="20"
                        data-responsive='{"0":{"items":"1"},"481":{"items":"2"},"768":{"items":"3"},"1199":{"items":"4"}}'>

                        {% for related in product.relatedProducts %}
                        <div class="item">
                            <div class="product">

                                {% if related.imageUrls is not empty %}
                                <div class="product_img">
                                    <a href="{{ path('app_product_by_slug', { slug: related.slug }) }}">
                                        <img alt="{{ related.name }}" src="/assets/images/products/{{ related.imageUrls[0] }}">
                                        {# /assets/images/products/{{ product.imageUrls[0] }} #}
                                    </a>
                                </div>
                                {% endif %}

                                <div class="product_info">
                                    <h6 class="product_title">
                                        <a href="{{ path('app_product_by_slug', { slug: related.slug }) }}">
                                            {{ related.name }}
                                        </a>
                                    </h6>
                                    <div class="product_price">
                                        {% if related.soldePrice and related.soldePrice < related.regularPrice %}
                                            <span class="price">{{ (related.soldePrice / 100)|number_format(2, ',', ' ') }} €</span>
                                            <del>{{ (related.regularPrice / 100)|number_format(2, ',', ' ') }} €</del>
                                        {% else %}
                                            <span class="price">{{ (related.regularPrice / 100)|number_format(2, ',', ' ') }} €</span>
                                        {% endif %}
                                    </div>
                                    <div class="pr_desc">
                                        <p>{{ related.description }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    {% else %}
                        <p class="text-muted">Aucun produit associé.</p>
                    {% endif %}

                </div>
            </div>

            
        </div>
    </div>
</div>
{% endblock %}